https://github.com/huggingface/diffusers
https://github.com/huggingface/diffusers.git
pip install --upgrade diffusers transformers accelerate

diffusers     0.13.0.dev0 22c1ba56c274151628e538cb52c921206a1a4b74
transformers  4.26.0
accelerate    0.16.0
